<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
    <div class="eight wide column">
		 <form class="ui form segment" method="post" action="/search">
		 <div class="field require">
		 	<input type="text" name="search">
		 </div>		 
		 <input type="submit" value="搜索" class="ui button green">
		 </form>

    </div>


</div>

<%- include('footer') %>